

<div class="gallery">
<div class="container">
  <!--<app-upload-media></app-upload-media>-->
 

  <div class="row">
    <div class="offset-2 col-8 col-md-6 col-lg-6 col-sm-8">
    <div class="upload-media-wrapper">
      <h3 class="text">Post Your Updates Now!</h3>
      <button class="upload-button" (click)="openAddMediaDialog()">Upload</button>
    </div>
  </div>
    <div *ngFor="let media of mediaList.medialist" class="offset-2 col-8 col-md-6 col-lg-6 col-sm-8 ">
      <mat-card class="gallery-card mb-2">
        <mat-card-header>
          <mat-card-title>{{media.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:8765/media-service/{{media.fileUrl}}" alt="#">
     
        <mat-card-content>
          <p>
              {{media.description}}
          </p>
        </mat-card-content>
       <mat-divider></mat-divider>
        <mat-card-actions class="actions">
          <button mat-button (click)="like(media.id)">
            <span *ngIf="!media.liked" class="icon" ><img src="assets/images/like.svg"/></span>
            <span *ngIf="media.liked" class="icon" ><img src="assets/images/liked.svg"/></span>{{media.likedCount}}
          </button>
          <button mat-button  (click)="dislike(media.id)">
            <span *ngIf="media.disliked"class="icon"><img src="assets/images/disliked.svg"/></span>
            <span *ngIf="!media.disliked"class="icon"><img src="assets/images/dislike.svg"></span>{{media.dislikedCount}}
          </button>
          <button mat-button ><span class="icon"><img src="assets/images/comment.svg"/></span></button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>

</div>
</div>