
<div class="form-container"> 
  <h1>Sign Up</h1>
  <form [formGroup]="formGroupSignUp" (ngSubmit) = 'saveDetails()'>
  <mat-form-field>
    <input matInput [formControl]="formGroupSignUp.controls.firstName" placeholder="first name" type="text"name="first_name" required>
  </mat-form-field>
  <mat-form-field>
  <input matInput [formControl]="formGroupSignUp.controls.lastName" type="text" placeholder="Last Name" name="last_name">
</mat-form-field>
<br>
  <mat-form-field>
  <input matInput [formControl]="formGroupSignUp.controls.userName" type="text" min="8" max="12"  placeholder="User Name" name="user_name">
</mat-form-field>
<br>
 <mat-form-field>
    <input matInput [formControl]="formGroupSignUp.controls.email" type="email" placeholder="Email" name="email" required>
  </mat-form-field>
<br>  
  <mat-form-field>
  <input matInput [formControl]="formGroupSignUp.controls.dob" type="date" placeholder="Date of Birth" name="dob">
</mat-form-field>
  <br>
  <mat-form-field>
  <input matInput  [formControl]="formGroupSignUp.controls.password"  type="password" placeholder="password" name="password">
  </mat-form-field>
  <br>
 <mat-form-field>
  <input matInput [formControl]="formGroupSignUp.controls.confirmPassword"  type="password" placeholder="confirm password" name="confirmpassword">
</mat-form-field>

  <br>
  <input  type="submit">
  <input type="reset">

</form>
</div>
