<div class="search-component">
<h1>search results for  {{searchTerm}}</h1>
<div class="container">
    <div class="row">
        <div class="offset-4 col-8 col-md-3 col-lg-3 col-sm-8">
    
    
       
            <div class="ml-3 circular-portrait">
                <img src="/assets/images/collage-heart-2.jpg"/>
            </div>
            <h3 class="ml-5">Title</h3>
                <button class="options">Follow</button>
                <button class="options">Unfollow</button>
        </div>
        
        <div class="mt-5 offset-4 col-8 col-md-3 col-lg-3col-sm-8">
    
    
       
            <div class="ml-3 circular-portrait">
                <img src="/assets/images/collage-heart-2.jpg"/>
            </div>
            <h3 class="ml-5">Title</h3>
                <button class="options">Follow</button>
                <button class="options">Unfollow</button>
        </div>
</div>
</div>
</div>
