<div class="search-component">
<h1>You search for {{searchTerm}}</h1>
<div class="container">
<mat-card>
    <mat-card-header>
        <mat-card-title> Title </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-body">
            <div class="circular-portrait">
                <img src="/assets/images/collage-heart-2.jpg"/>
            </div>
            <mat-card-actions>
                <button md-button>Follow</button>
                <button md-button>Unfollow</button>
            </mat-card-actions>
        </div>
    </mat-card-content>
         
    
   
</mat-card>
</div>
</div>
