<!--<app-login [hidden]="hideLogin"></app-login>
<app-sign-up [hidden]="!hideLogin"></app-sign-up>
<button (click)="this.toggleHideLogin()"> Login</button>
<h1> HOME DESIgn</h1>-->
<div class="hero">
    <div class="sub-hero"> 
        <div class="content">
        <h1 class="hero-text"><span><img width="80" height="80" src="assets/images/hero-icon.ico" alt="pixogram icon"></span>  Pixogram</h1>
        <h3 class="subhero-text">description about pixogram</h3>
       
           <!-- Button starts here-->     
        <div>
            <div class="wrapper">
                <div class="link_wrapper">
                  <a (click)="openSignUp()">SignUp!</a>
                 
                </div>
                
              </div>
        </div>
        <!-- Button ends here-->
        <div class="login-component">
   
          <app-login></app-login>
</div>
        </div>
    </div>
</div>
<!-- hero poster ends here-->
<!--Login component will be injected here-->

<!-- second section starts here-->

<section class="second-section">

</section>
